@page
@model VubProjekt.Pages_Footballers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Igrač</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Footballer.FristName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Footballer.FristName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Footballer.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Footballer.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Footballer.Position)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Footballer.Position)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Footballer.MarketValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Footballer.MarketValue)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Footballer?.ID">Edit</a> |
    <a asp-page="./Index">Nazad</a>
</div>
